body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: black;
    cursor: none !important;
  }

#game-screen {
    margin: 5%;
    background-image: url("../images/background_image_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%; 
    height: 90%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#iron {
    position: absolute;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    height: 275px;
    width: 149px;
    z-index: 10;
    margin-left: -5%;
    margin-top: -5%;
    /* height: ; */
}


.stretch {
    width:100%;
    height:100%;
}

#score {
    background-color: green;
    border-radius: 8px;
    width: 150px;
    padding: 20px;
    position: fixed;
    margin: 20px;
    z-index: 2;
    color: lightgray;
}

#holes {
    z-index: 2;
    columns: 3;
    margin-top: 30%;
    width: 60%;
    height: 50%;
}

.gopher-holes {
    background-image: url("../images/hole.png");
    margin: 0 auto 40px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 105px;
    height: 90px;
    z-index: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    
    /* , no-repeat, no-repeat;
    background-position:
    bottom right,
    left,
    right; */
    
}

#gopher {
    width: 65px;
    height: 65px;
    position: absolute;
    /* animation: gopher-slide 1s ease infinite; */
    z-index: 1;
    margin: 0;
    padding: 0
}

.gopher1 {
    animation: gopher-slide 1s ease infinite; 
}

.gopher2 {
    animation: gopher-slide 2s ease infinite;
}
.gopher3 {
    animation: gopher-slide 3s ease infinite;
}

@keyframes gopher-slide {

    /* from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-60px);
      } */

    0%, 100% {
        top: 90px;
      }
      50% {
        top: 10px;
      }

    /* 0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(60px);
    }
    75% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    } */
}
